#containerwrap{width: 100%;background-color: #fff;}
#container{width: 100%;margin: auto;}
.conwrap{width: 1000px;margin: auto;}

.innovation{padding-top: 45px;padding-bottom: 420px;background: #e9e9e9 url(../img/main/main_map.png)no-repeat 50% 100%;}
.innovation h2{position: relative;font-size: 18px;color:#171c4d;text-align: center;padding-bottom: 10px;}
.innovation h2:after{
	clear: both;display: block;content: '';
	width: 100px;height: 2px;background-color: #01256e;
	position: absolute;left: 50%;bottom: 0;margin-left: -50px;
}
.innovation .text_box{margin-top: 45px;color:#fff;letter-spacing:-1px;height: 454px;padding: 40px;background: #6d758c url(../img/main/text_box_bg.png)no-repeat 111% 120%;border-radius:25px;}
.text_box dl{padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px solid #a5a9b8;}
.text_box dl:after{clear: both;display: block;content: '';}
.text_box dl dt{float: left;font-size: 18px;}
.text_box dl dd{padding-left:330px;font-size: 12px;}
.text_box dl dd strong{font-size: 14px;}
.text_box table{clear: both;color:#fff;width: 650px;}
.text_box table tr{height: 34px;border-top: 1px solid #a5a9b8;} 
.text_box table tr:first-child{border-top: none;} 
.text_box table tr th{font-weight: bold;font-size: 16px;width: 260px;vertical-align: middle;border-right: 1px solid #a5a9b8;}
.text_box table tr td{font-weight: normal;font-size: 12px;vertical-align: middle;line-height: 14px;padding-left: 20px;letter-spacing:-0.7}


.notice{}



#con_bottom{width: 1090px;height: 99px;margin: auto;
	background-image: url(../img/main/main_bar.jpg);
	background-repeat: no-repeat;
}
