#containerwrap{width: 100%;height: 1160px;background-image: url(../img/main/container_bg.png);background-repeat: repeat-x;}
#container{width: 1000px;height: 1061px;margin: auto;
	background-image: url(../img/main/main.jpg);background-repeat: no-repeat;z-index: 10;
}
#con_bottom{width: 1090px;height: 99px;margin: auto;
	background-image: url(../img/main/main_bar.jpg);
	background-repeat: no-repeat;
}
